html{background-color: grey;}
h1, h2{color: Aqua;font-style: Arial}
b {color: yellow;}
p {color: white;}
ul {color: white;}
ol {color: white;}
a {color: red;}
a {text-decoration: none;}
.firstcharacter {
	color: white;
	font-size: 25px
}